html, body, figure, ul, li, section {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  background: transparent;
  color: inherit;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.carousel {
  margin: auto;
  width: 200px;
  height: 220px;
  border: 5px solid black;
  border-radius: 5px;
  overflow:hidden;
}

.carousel li {
  width: 200px;
  height: 200px;
  position:absolute;
  top: 20px;
  display: none;
}

.items .active {
  display: block;
}

img {
  width: 100%;
  height: 100%;
}

.items {
  display: block;
  position: relative;
}
