html, body, figure, ul, li, section {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  background: transparent;
  color: inherit;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font: sans-serif;
  font-size: 16px;
}


.tab-pane {
  display: none;
}


.active-link {
  display: block;
}



.active-pane {
  display: block;
}
